---
apiVersion: v1
kind: Namespace
metadata:
  name: eventwatcher

---
apiVersion: v1
data:
  http.conf: |2

    server {
      listen       11724;
      server_name  localhost;

      # serve static files
      location /  {
        root    /data;
        autoindex on;
      }

    }
kind: ConfigMap
metadata:
  labels:
    app: public-devops-event-elasticsearch
  name: public-devops-event-elasticsearch-nginx-sidecar
  namespace: eventwatcher

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: public-devops-event-elasticsearch
  name: elasticsearch
  namespace: eventwatcher
spec:
  ports:
  - name: port-0
    port: 9200
    protocol: TCP
    targetPort: 9200
  selector:
    app: public-devops-event-elasticsearch
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: public-devops-event-elasticsearch
  name: public-devops-event-elasticsearch-headless
  namespace: eventwatcher
spec:
  clusterIP: None
  selector:
    app: public-devops-event-elasticsearch
  sessionAffinity: None
  type: ClusterIP

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  annotations:
    deploy.weimob.com/initreplica: "0"
  labels:
    app: public-devops-event-elasticsearch
  name: public-devops-event-elasticsearch
  namespace: eventwatcher
spec:
  podManagementPolicy: OrderedReady
  replicas: 1
  selector:
    matchLabels:
      app: public-devops-event-elasticsearch
  serviceName: public-devops-event-elasticsearch
  template:
    metadata:
      labels:
        app: public-devops-event-elasticsearch
    spec:
      nodeName: 10.22.0.117
      automountServiceAccountToken: false
      containers:
      - env:
        - name: discovery.type
          value: single-node
        - name: ES_JAVA_OPTS
          value: -Xms512m -Xmx1024m
        image: ccr.ccs.tencentyun.com/weimob-public/elasticsearch:7.2.0
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 2
          httpGet:
            path: /_cat/health
            port: 9200
            scheme: HTTP
          initialDelaySeconds: 1800
          periodSeconds: 3
          successThreshold: 1
          timeoutSeconds: 3
        name: container-0
        readinessProbe:
          failureThreshold: 2
          httpGet:
            path: /_cat/health
            port: 9200
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 3
          successThreshold: 1
          timeoutSeconds: 3
        resources:
          limits:
            cpu: "2"
            memory: 2Gi
          requests:
            cpu: 100m
            memory: 409Mi
        securityContext:
          privileged: false
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /usr/share/elasticsearch/data
          name: data
      - image: nginx:latest
        imagePullPolicy: IfNotPresent
        name: nginx-sidecar
        resources:
          limits:
            cpu: 200m
            memory: 256Mi
          requests:
            cpu: "0"
            memory: "0"
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /data/usr/share/elasticsearch/data
          name: data
          readOnly: true
        - mountPath: /etc/nginx/conf.d/
          name: nginxconf
          readOnly: true
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext:
        fsGroup: 1000
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 420
          name: public-devops-event-elasticsearch-nginx-sidecar
        name: nginxconf
      - name: data
        emptyDir: {}
  updateStrategy:
    rollingUpdate:
      partition: 0
    type: RollingUpdate
#  volumeClaimTemplates:
#  - metadata:
#      creationTimestamp: null
#      labels:
#        app: public-devops-event-elasticsearch
#      name: data
#    spec:
#      accessModes:
#      - ReadWriteOnce
#      resources:
#        requests:
#          storage: 64Gi
#      storageClassName: public-devops-event-elasticsearch-data
