---
apiVersion: v1
kind: Namespace
metadata:
  name: eventwatcher

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: eventwatcher
  namespace: eventwatcher

---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: eventwatcher
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs: ["get", "list", "watch"]

---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: eventwatcher
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: eventwatcher
subjects:
- kind: ServiceAccount
  name: eventwatcher
  namespace: eventwatcher

---
apiVersion: v1
data:
  .dockerconfigjson: eyJhdXRocyI6IHsiY2NyLmNjcy50ZW5jZW50eXVuLmNvbSI6IHsiYXV0aCI6ICJOemswTnpreU16WTZWMlZwYlc5aUkyczRjekl3TVRnPSJ9fSwgIkh0dHBIZWFkZXJzIjogeyJVc2VyLUFnZW50IjogIkt1YmVsZXQifX0=
kind: Secret
metadata:
  name: ccr.ccs.tencentyun.com.key
  namespace: eventwatcher
type: kubernetes.io/dockerconfigjson

---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: eventwatcher
  name: eventwatcher
  namespace: eventwatcher
spec:
  replicas: 1
  template:
    metadata:
      annotations:
        weimob.com/scrape_port: "8080"
      labels:
        app: eventwatcher
    spec:
      serviceAccountName: eventwatcher
      imagePullSecrets:
      - name: ccr.ccs.tencentyun.com.key
      containers:
      - image: ccr.ccs.tencentyun.com/weimob-public/eventwatcher:v1.0
        args:
        - -e
        - http://elasticsearch:9200/events/_doc/
        name: eventwatcher
