{
  "CN": "kubernetes",
  "hosts": [
    "127.0.0.1",
    "{{ MASTER_IP }}",
    "{{ inventory_hostname }}",
    "{{ CLUSTER_KUBERNETES_SVC_IP }}",
    "kubernetes",
    "kubernetes.default",
    "kubernetes.default.svc",
    "kubernetes.default.svc.cluster",
    "kubernetes.default.svc.cluster.local"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ CERT_C }}",
      "ST": "{{ CERT_ST }}",
      "L": "{{ CERT_L }}",
      "O": "{{ CERT_O }}",
      "OU": "{{ CERT_OU }}"
    }
  ]
}
