apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    k8s-app: ip-masq-agent
  name: ip-masq-agent
  namespace: kube-system
spec:
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      k8s-app: ip-masq-agent
  template:
    metadata:
      creationTimestamp: null
      labels:
        k8s-app: ip-masq-agent
    spec:
      containers:
      - image: {{ gcr_mirror }}google-containers/ip-masq-agent-amd64:v2.5.0
        imagePullPolicy: IfNotPresent
        name: ip-masq-agent
        resources: {}
        securityContext:
          privileged: true
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /etc/config
          name: config
      dnsPolicy: ClusterFirst
      hostNetwork: true
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      tolerations:
      - effect: NoSchedule
        key: kubernetes.io/role
        value: master
      volumes:
      - configMap:
          defaultMode: 420
          items:
          - key: config
            path: ip-masq-agent
          name: ip-masq-agent
          optional: true
        name: config
  updateStrategy:
    type: OnDelete